<div class="post-block" style="background-image: url('<%= url_for(post.path) + 'main.jpg' %>')">
  <a href="<%= url_for(post.path) %>" title="Read: <%= post.title %>">
    <div class="post-block__content">
      <h2 class="post-block__title"><%= post.title %></h2>
      <div class="post-block__excerpt"><%- post.excerpt %></div>
    </div>
  </a>
</div>
